<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmsdemo.doubleballsapp.huawei">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/iap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.iapdemo.activity.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>