<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="huawei.intent.action.hicar.MAP" />
                <category android:name="huawei.intent.category.hicar.MAP" />
            </intent-filter>
        </activity>

        <!--请务必添加您的appid!-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=应用自己的appid" />


        <service
            android:name="com.example.carddemo.MyDemoOperateMgr"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="com.huawei.hicar.HICAR_PERMISSION_SYSTEM">
            <!-- If the application is concerned about hicar startup events, this intent-filter should be added. -->
            <intent-filter>
                <action android:name="com.huawei.hicar.CALLBACK_HICAR_STARTED" />
            </intent-filter>
            <!-- If the application is concerned about hicar stop events, this intent-filter should be added. -->
            <intent-filter>
                <action android:name="com.huawei.hicar.CALLBACK_HICAR_STOPPED" />
            </intent-filter>
            <!-- If the app focuses on hicar cleanup card events should increase this intent-filter -->
            <intent-filter>
                <action android:name="com.huawei.hicar.CALLBACK_REMOVECARD" />
            </intent-filter>
            <!-- If the application is concerned about hicar card event callback events, this intent-filter should be added. -->
            <intent-filter>
                <action android:name="com.huawei.hicar.CALLBACK_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.example.carddemo.MyRes"
            android:enabled="true"
            android:exported="true"
            android:permission="com.huawei.hicar.HICAR_PERMISSION">
            <intent-filter>
                <action android:name="com.huawei.hicar.ACTION_HICAR_STARTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.huawei.hicar.ACTION_HICAR_STOPPED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.huawei.hicar.ACTION_CARD_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.huawei.hicar.ACTION_CARD_REMOVE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.huawei.hicar.ACTION_CARD_PAUSE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.huawei.hicar.ACTION_CARD_RESUME"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>