<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.awareness.codelab">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".awareness.barrier.BarrierCombinationActivity" />
        <activity android:name=".awareness.barrier.BluetoothBarrierActivity" />
        <activity android:name=".awareness.barrier.BeaconBarrierActivity" />
        <activity android:name=".awareness.barrier.AmbientLightBarrierActivity" />
        <activity android:name=".awareness.barrier.TimeBarrierActivity" />
        <activity android:name=".awareness.barrier.BehaviorBarrierActivity" />
        <activity android:name=".awareness.barrier.LocationBarrierActivity" />
        <activity android:name=".awareness.barrier.HeadsetBarrierActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".awareness.BarrierActivity" />
        <activity android:name=".awareness.CaptureActivity" />
    </application>

</manifest>