<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hmsawarenesssample">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.huawei.hmsawarenesssample.awareness.BarrierActivity" />
        <activity android:name="com.huawei.hmsawarenesssample.awareness.CaptureActivity" />
        <activity android:name="com.huawei.hmsawarenesssample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.huawei.hmsawarenesssample.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>