<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) Huawei Technologies Co., Ltd. 2019-2019. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.huaweiuikitdemo_hwbutton">
    <uses-permission android:name="com.huawei.hicar.HICAR_PERMISSION"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Car_Activity">
            <intent-filter>
                <action android:name="huawei.intent.action.HICAR"/>

                <category android:name="huawei.intent.category.HICAR"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Phone_Activity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>